#box1 {
    background-color: #273643;
    border-color:cornflowerblue;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    margin: 0px;
}

#login {
    background-color: #5865F2;
    border-color:cornflowerblue;

    margin: 0;
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    left: 50%;
    transform: translateX(-50%);

    height: 150px;
    width: 750px;
    font-size: 60px;
    font-family: "Arial";
    border-radius: 30px;
    margin-top:15px;
    min-width: 300px;
}

#headtext {
    margin: 0;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    font-size: 75px;
    width: 100%;
    height: 40%;
    white-space: nowrap;
    overflow: hidden;
    
    min-width:100%;
    font-family: "Arial";
}