body {
    margin: 0;
    background-color: #273643;
    background-image:
      radial-gradient(circle, rgba(128, 128, 128, 0.13) 2px, transparent 2px),
      linear-gradient(0deg, rgba(128, 128, 128, 0.13) 1px, transparent 1px),
      linear-gradient(90deg, rgba(128, 128, 128, 0.13) 1px, transparent 1px);
    background-size: 40px 40px;
}

.login {
    margin: 0;
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    left: 50%;
    transform: translateX(-50%);
}

#btn {
    background-color: #5865F2;
    color:#36393E;

    border: 0;
    margin: 0;
    height: 150px;
    width: 750px;
    font-size: 60px;
    font-family: "Arial";
    border-radius: 50px;
    margin-top:15px;
    min-width: 300px;

    opacity: 1;
    transition: 0.2s ease;
}
  
#btn:hover {
    background-color: #8691f5;
    opacity: 0.8;
    scale: 1.2;
}

#headtext {
    margin: 0;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    font-size: 400%;
    width: 100%;
    height: 40%;
    white-space: nowrap;
    overflow: hidden;
    
    min-width:100%;
    font-family: "Arial";
}