#box1 {
    background-color: #273643;
    border-color:cornflowerblue;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 7em;
    margin: 0px;
}
#box2 {
    background-color: #f8f7de;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 7em;
    height: 200%;
    margin: 0px;
}

#avatar {
    border-color:deepskyblue;

    border-radius: 80%;
    max-width: 7em;
    min-width: 7em;
    z-index: 100;
}

#username {
    margin: 0;
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    text-align: center;

    font-size: 5em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    min-width:50%;
    max-width:100%;
    font-family: "Arial";
}

#logout {
    background-color: #5865F2;
    color:#36393E;

    border: 0;

    margin: 0;
    position: absolute;
    right: 0;
    transform: translateX(0);
    text-align: center;

    max-width: 3.5em;
    min-width: 3.5em;
    z-index: 200;
    font-size: 60px;
    font-family: "Arial";
    border-radius: 50px;
    margin-top:15px;

    opacity: 1;
    transition: 0.2s;
}
  
#logout:hover {
    background-color: #8691f5;
    opacity: 0.8;
}