<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Item Spinner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head> 
<body>
    <div><h1 id="headtext" style="color: chocolate">在抽物品前請先登入discord!!!</h1></div>
    <form method="post">
        <div class="login">
            <button type="submit" id="btn">登入 Discord</button>
        </div>
    </form>
</body> 
</html>
